{% extends 'base.html' %}

{% block title %}作业分析{% endblock %}


{% block css %}
    <style>
        .el-checkbox__inner {
            width: 50px;
            height: 60px;
        }

        .el-checkbox__inner::after {
            top: 25px;
            left: 22px
        }

    </style>
{% endblock %}

{% block tabs %}

{% endblock %}

{% block body %}

    <div id="monitor" style="margin: 50px 200px">
        {# 二级导航 #}
        <template>
            <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                <el-tab-pane label="视频审核" name="five"></el-tab-pane>
                <el-tab-pane label="行为日志" name="first"></el-tab-pane>
                <el-tab-pane label="接口调用" name="second"></el-tab-pane>
                <el-tab-pane label="响应时长" name="fourth"></el-tab-pane>
                {#                <el-tab-pane label="url分析" name="third"></el-tab-pane>#}

            </el-tabs>
        </template>

        {#        用户行为日志#}
        <div style="margin-top: 20px" v-show="userActionShow">
            <div style="width: 300px">
                <el-row>
                    <el-input v-model="jid" placeholder="请输入JID" style="width: 220px"></el-input>
                    <el-button type="primary" style="float: right" @click="onSubmit">查询</el-button>
                </el-row>
            </div>

            <template>
                <el-table
                        style="margin-top: 20px"
                        :data="userAction"
                        border
                        stripe
                        style="width: 100%"
                        empty-text="点击查询用户行为，数据较大请耐心等待..."
                        :default-sort="{prop: 'date', order: 'descending'}"
                        v-show="userActionShow"
                        v-loading="loading"
                        element-loading-text="拼命加载中"
                >
                    <el-table-column prop="c_time" label="时间" sortable></el-table-column>
                    <el-table-column prop="ip" label="ip" sortable></el-table-column>
                    <el-table-column prop="param_json" label="参数" sortable></el-table-column>
                    <el-table-column prop="model_name" label="项目" sortable></el-table-column>
                    <el-table-column prop="url" label="路径" sortable></el-table-column>
                    <el-table-column prop="userAgent" label="来源" sortable></el-table-column>
                    <el-table-column prop="cost_time" label="花费时长" sortable></el-table-column>

                </el-table>
            </template>
        </div>
        {#    接口调用  #}
        <div style="margin-top: 20px" v-show="urlDataShow">
            <template>
                <div class="block" style="width: 300px">
                    <el-date-picker
                            v-model="date"
                            type="date"
                            placeholder="选择日期"
                            format="yyyy-MM-dd"
                            value-format="yyyyMMdd">
                    </el-date-picker>
                    <el-row style="float: right">
                        <el-button type="primary" @click="getUrlData">查询</el-button>
                    </el-row>
                </div>

            </template>
            <template>
                <el-table
                        style="margin-top: 20px"
                        :data="urlData"
                        border
                        stripe
                        style="width: 100%"
                        empty-text="点击查询用户行为，数据较大请耐心等待..."
                        :default-sort="{prop: 'date', order: 'descending'}"
                        v-loading="loading"
                        element-loading-text="拼命加载中"
                >
                    <el-table-column prop="key" label="地址" sortable></el-table-column>
                    <el-table-column prop="doc_count" label="访问次数" sortable></el-table-column>
                    <el-table-column prop="sum_user.value" label="访问人数" sortable></el-table-column>
                    <el-table-column prop="sum_time.value" label="一共用时" sortable></el-table-column>
                    <el-table-column prop="avg_time.value" label="平均用时" sortable></el-table-column>
                </el-table>
            </template>
        </div>

        {#  url分析  #}
        <div id='urlBox' style="width:1600px;height:700px;margin: 0px auto;" v-show="urlBoxShow"></div>

        {#       平台一天运维数据   #}
        <div style="margin-top: 20px" v-show="urlCostTimeShow">
            <div style="width: 680px">
                <template>
                    <div class="block" style="float: left;margin-right: 20px">
                        <el-date-picker
                                v-model="date"
                                type="date"
                                placeholder="选择日期"
                                format="yyyy-MM-dd"
                                value-format="yyyyMMdd">
                        </el-date-picker>
                    </div>
                </template>

                <template>
                    <el-time-picker
                            is-range
                            v-model="time"
                            range-separator="至"
                            start-placeholder="开始时间"
                            end-placeholder="结束时间"
                            placeholder="选择时间范围"
                            value-format="HH:mm:ss"
                    >

                    </el-time-picker>

                </template>
                <el-button type="primary" style="float: right" @click="getConstTimeData">查询</el-button>

            </div>

            <div id="urlCostTime" style='width:1600px;height:700px;margin: 0px auto;'
                 v-loading="loading"
                 element-loading-text="拼命加载中"
            >

            </div>


        </div>

        {#        视频审核  #}

        <div style="margin-top: 20px" v-show="videoReviewShow">
            <template>
                {#      筛选          #}
                <div class="block" style="width: 300px">
                    {#      日期选择          #}
                    <el-date-picker
                            v-model="dateVideo"
                            type="date"
                            placeholder="选择日期"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                    {#      用户名搜索资源          #}
                    <el-input v-model="userId" style="width: 220px;margin-top: 10px"
                              placeholder="输入用户ID查找"></el-input>
                    <el-input v-model="schoolId" style="width: 220px;margin-top: 10px"
                              placeholder="学校ID"></el-input>
                    <el-row style="float: right;margin-top: 10px">
                        <el-button type="primary" @click="getVideoReview">查询</el-button>
                    </el-row>
                </div>

                <div>
                    <p style="float: left">资源总数： [[ videoCount ]]</p>
                    <el-row style="float: right">
                        <el-button @click="toggleSelection()">取消所有选中</el-button>
                        <el-button type="primary" @click="getResIdList">查看全部选中资源</el-button>
                    </el-row>
                </div>

                <el-table
                        :row-key="getRowKeys"
                        style="margin-top: 20px;width: 100%"
                        :data="videoReviewData.slice((currentPage-1)*PageSize,currentPage*PageSize)"
                        border
                        stripe
                        ref="multipleTable"
                        empty-text="点击查询，请耐心等待..."
                        :default-sort="{prop: 'date', order: 'descending'}"
                        v-loading="loading"
                        element-loading-text="拼命加载中"
                        @selection-change="handleSelectionChange"

                >
                    <el-table-column
                            reserve-selection="true"
                            type="selection"
                            width="80">
                    </el-table-column>

                    <el-table-column prop="res_id" label="ID" sortable></el-table-column>
                    <el-table-column prop="file_size" label="文件大小" sortable></el-table-column>
                    <el-table-column prop="name" label="学校" sortable></el-table-column>
                    <el-table-column prop="dc_school_id" label="学校ID" sortable></el-table-column>
                    <el-table-column prop="user_id" label="用户ID" sortable></el-table-column>
                    <el-table-column prop="user_name" label="用户名" sortable></el-table-column>
                    <el-table-column prop="teacher_name" label="教师姓名" sortable></el-table-column>
                    <el-table-column prop="STU_NAME" label="学生姓名" sortable></el-table-column>
                    <el-table-column prop="c_time" label="时间" sortable></el-table-column>

                    <el-table-column prop="res_id" label="资源名称" sortable>
                        <template slot-scope="scope">
                            <p style="color: blue"
                               @click="toVideo(scope.row.res_id)">
                                [[ scope.row.res_name]]</p>
                        </template>
                    </el-table-column>

                    <el-table-column prop="img_url" label="预览图" width="400" sortable>
                        <template slot-scope="scope">
                            <el-image :src="scope.row.img_url">查看</el-image>
                        </template>
                    </el-table-column>

                    <el-table-column label="拉黑" sortable>
                        <template slot-scope="scope">
                            <p style="color: blue;height: 200px;line-height: 200px"
                               @click="blackUser(scope.row.user_id )">拉黑</p>
                        </template>
                    </el-table-column>
                    <el-table-column label="强改密" sortable>
                        <template slot-scope="scope">
                            <p style="color: blue;height: 200px;line-height: 200px"
                               @click="remindUser(scope.row.user_id )">强改密</p>
                        </template>
                    </el-table-column>

                </el-table>
                {#    回到顶部 #}
                <el-backtop></el-backtop>
                {#      分页       #}

                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="pageSizes"
                        :page-size="PageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="videoReviewData.length">
                </el-pagination>

            </template>
            {#        浮层    #}
            <el-dialog
                    title="已选中的资源列表"
                    :visible.sync="dialogVisible"
                    width="30%"
                    :before-close="handleClose">
                <el-input
                        type="textarea"
                        :rows="20"
                        v-model="resId">
                </el-input>
                <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogVisible = false">关闭</el-button>
              </span>
            </el-dialog>

        </div>

    </div>


{% endblock %}

{% block js %}
    <script src="static/js/monitor.js"></script>


{% endblock %}