{% extends 'base.html' %}

{% block title %}学校分析{% endblock %}


{% block css %}
    <style>
        .text {
            font-size: 14px;
        }

        .item {
            padding: 18px 0;
        }

        .box-card {
            width: 1400px;
        }
    </style>
{% endblock %}

{% block tabs %}

{% endblock %}

{% block body %}

    <div id="task" style="margin: 50px 200px">
        {# 二级导航 #}
        <template>
            <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                <el-tab-pane label="学校信息" name="second"></el-tab-pane>
                <el-tab-pane label="学校类型" name="first"></el-tab-pane>
                <el-tab-pane label="期待" name="third"></el-tab-pane>
                <el-tab-pane label="期待" name="fourth"></el-tab-pane>
            </el-tabs>
        </template>

        {#        学校类型    #}
        <el-card class="box-card" v-show="schoolTypeShow">
            <div id="schoolType" style='width:1400px;height:700px;margin: 0px auto;'></div>
        </el-card>

        {#   学校信息     #}
        <div style="margin-top: 50px" v-show="schoolInfoShow">
            <template>
                <el-table
                        :data="schooldata"
                        border
                        stripe
                        style="width: 100%"
                        :default-sort="{prop: 'date', order: 'descending'}"
                        empty-text="数据加载中......"
                        element-loading-background="rgba(0, 0, 0, 0.5)"
                >

                    <el-table-column v-for="column in tableColumns"
                                     :key="column.prop"
                                     :prop="column.prop"
                                     :label="column.label" sortable>

                    </el-table-column>

                </el-table>
            </template>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="static/js/school.js "></script>


{% endblock %}