{% extends 'base.html' %}

{% block title %}用户查询{% endblock %}

{% block  echartsJs %}
{% endblock %}

{% block body %}
    <div id="userQuery" style="margin: 50px 200px">
        {#二级导航#}
        <template>
            <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                <el-tab-pane label="用户密码查询" name="first"></el-tab-pane>
                <el-tab-pane label="学校帐号密码查询" name="second"></el-tab-pane>
                <el-tab-pane label="期待" name="third"></el-tab-pane>
                <el-tab-pane label="期待" name="fourth"></el-tab-pane>
            </el-tabs>
        </template>

        {# 用户密码查询#}
        <div v-show='userQuery' style="margin-top:20px">
            <el-form ref="form" :model="form" label-width="100px" style="width: 500px">

                <el-form-item label="教师用户名">
                    <el-input v-model="form.teaName"></el-input>
                </el-form-item>

                <el-form-item label="学生用户名">
                    <el-input v-model="form.stuName"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="getUser">查询</el-button>
                </el-form-item>

            </el-form>
            <div style="margin-top: 50px">
                <template>
                    <el-table
                            :data="usrInfo"
                            border
                            stripe
                            style="width: 100%"
                            :default-sort="{prop: 'date', order: 'descending'}"
                            empty-text="点击查询按钮查询数据"
                            element-loading-background="rgba(0, 0, 0, 0.5)"
                    >

                        <el-table-column prop="name" label="学校名称" sortable></el-table-column>

                        <el-table-column prop="school_id" label="学校ID" sortable></el-table-column>

                        <el-table-column prop="ett_user_id" label="JID" sortable></el-table-column>

                        <el-table-column prop="user_name" label="用户名" sortable></el-table-column>

                        <el-table-column prop="password" label="密码" sortable></el-table-column>

                        <el-table-column prop="real_name" label="真实姓名" sortable></el-table-column>

                        <el-table-column prop="state_id" label="有效状态" sortable></el-table-column>

                        <el-table-column prop="c_time" label="创建时间" sortable></el-table-column>

                    </el-table>
                </template>
            </div>
        </div>


        {#   学校帐号密码查询     #}
        <div v-show='schoolQuery' style="margin-top:20px;float: left;width: 100%">
            <label style="width: 30px">学校ID：</label>
            <el-input v-model="schoolId" placeholder="请输入学校ID" style="width: 200px"></el-input>
            <label>角色：</label>

            <template>
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </template>

            <el-row style="float: right;margin-right:840px">
                <el-button type="primary" @click="getSchool">查询</el-button>
            </el-row>

            <el-row style="float: right">
                <el-button type="primary" @click="download">导出</el-button>
            </el-row>
            <div style="margin-top: 50px">
                <template>
                    <el-table

                            :data="schoolInfo"
                            border
                            stripe
                            style="width: 100%"
                            :default-sort="{prop: 'date', order: 'descending'}"
                            empty-text="点击查询按钮查询数据"
                            element-loading-background="rgba(0, 0, 0, 0.5)"
                    >

                        <el-table-column v-for="column in tableColumns"
                                         :key="column.prop"
                                         :prop="column.prop"
                                         :label="column.label" sortable>

                        </el-table-column>

                    </el-table>
                </template>
            </div>

        </div>
    </div>

{% endblock %}


{% block js %}
    <script src="static/js/userQuery.js"></script>
{% endblock %}
